// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(5, 49%, 65%),
    200: hsl(5, 49%, 57%),
    300: hsl(5, 49%, 50%),
    400: hsl(5, 49%, 43%),
    500: hsl(5, 49%, 35%),
  ),
  secondary: (
    100: hsl(39, 100%, 80%),
    200: hsl(39, 100%, 74%),
    300: hsl(39, 100%, 66%),
    400: hsl(39, 100%, 58%),
    500: hsl(39, 100%, 50%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
