$rainbow: linear-gradient(
  90deg,     
  #f94a4c 8%,
  #ff9055 25%,
  #ffd078 42%,
  #afd84a 58%,
  #5e6ce6 75%,
  #c35cf0 92%
);

$rainbow-dark: linear-gradient(
  90deg,     
  #f94a4c 8%,
  #ff9055 25%,
  #ffd078 42%,
  #afd84a 58%,
  #5e6ce6 75%,
  #c35cf0 92%
);

$ppred:    #f94a4c;
$pporange: #ff9055;
$ppyellow: #ffd078;
$ppgreen:  #afd84a;
$ppblue:   #5e6ce6;
$pppurple: #c35cf0;