---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
---

<DefaultLayout title="How to Contribute">
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem currentPage={true} label="How to Contribute" />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <h1 class="my-8"><span class="text-gradient">How to Contribute</span></h1>

      <p class="my-4">
        Please reach out to <strong><a href="mailto:dave@davegoesthedistance.com">Dave</a></strong> (davmillar on Discord)
        or <strong>Jamie</strong> (jamiehargrove on Discord) to on-board with us as a contributor.
      </p>

      <p class="my-4">
        We know that setting puzzles can be challenging for some and life can be wild and messy, so feel free to adjust
        your committment level, change your entry, or ask for help if needed. We're also always looking for
        test-solvers, people who want to share and promote the project, and streamers that stream their puzzle solving.
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <h2 class="mb-16">Quick Info</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="March 2" title="Word & Hunt" sub="First Draft Deadline" />
        <Counter count="April 27" title="Logic Puzzle" sub="First Draft Deadline" />
        <Counter count="May 11" title="All Puzzles" sub="Final Draft Deadline" />
        <Counter count="June 1" title="Release Day" sub="Pride Month Starts" />
      </div>
    </div>
  </section>
  <section class="my-24">
    <div class="container">
      <h2 class="mb-16">About/FAQ</h2>

      <h3 class="my-4">What kinda puzzles can I submit?</h4>
      <p class="my-4">
        Any kind you like! Ideally these would be 'pencil puzzles' that could be solved on paper, but we can also
        include links to Penpa, F-Puzzle, Puzz.Link, etc. as well as offer PUZ, IPUZ, JPZ, or similar formats.
      </p>

      <h3 class="my-4">Where is this being released?</h4>
      <p class="my-4">
        Here at the Puzzler Pride website, but all are welcome to share their own creations or the whole packeet to
        blogs and social media.
      </p>

      <h3 class="my-4">I'm LGBTQ+ but can't write puzzles. How can I help?</h4>
      <p class="my-4">
        We're happy to have you join as a test-solver! Sign up and just make that the 'status' on your row of the
        spreadsheet. If you're interested in setting a puzzle for the first time, reach out to one of the organizers and
        we can get you headed in the right direction!
      </p>

      <h3 class="my-4">I'm an ally, how can I help?</h4>
      <p class="my-4">
        Please share the puzzle pack with friends and loved ones! Also offer to test-solve for anyone in the sheet who's
        making something you might enjoy. Most of all, help continue the fight for equal rights and dispel
        disinformation from nay-sayers. We're a creative, thoughtful, and diverse bunch, and we love when you help
        support our goals and affirm our right to exist.
      </p>

      <h3 class="my-4">When are puzzles due?</h4>
      <p class="my-4">
        Ideally, we'd like to have initial drafts for substantial word and hunt-style puzzles by March 2, 2025, and
        logic and all other puzzle types by April 27, 2025. We really want to lock in final drafts by May 11, 2025.
        Submissions and edits after those dates may still be accepted at organizer discretion, but adequate testing and
        time for the PDF layout is important for a June 1 launch date!
      </p>

      <h3 class="my-4">Any other constraints?</h4>
      <p class="my-4">
        Ideally your puzzle should be no larger than 21x30 (21 grid cells wide and 30 grid cells tall) to fit the layout
        of the PDF. 9x9 grids are a popular choice, and definitely stay smaller than the maximum size if you're making
        an uncommon or original puzzle type that would benefit from instructional diagrams. See the archives for
        examples of what to expect.
      </p>

      <h3 class="my-4">Can my puzzle feature a rainbow?</h4>
      <p class="my-4">
        Yes, although if color is not central to the content of the puzzle, it might be adjusted for print/viewing in a
        way to make it accessible to those with color-blindness.
      </p>

      <h3 class="my-4">Can I call 'dibs' on a specific puzzle genre?</h4>
      <p class="my-4">
        It's fine to announce what you intend to construct, but no special precautions will be taken to axe duplicate
        genres. If you don't want to duplicate a genre, please use the search function to check the sheet for the active
        event for the type you have in mind.
      </p>

      <h3 class="my-4">Wow, is (name) really LGBTQ+?</h4>
      <p class="my-4">
        Everyone who signs up is assumed to have done so voluntarily and with the understanding that this labels their
        given name/nom de plume as identifying LGBTQIA+ &#8212; we are not looking to out anyone unwillingly. No efforts
        will be taken to police or verify this info. That said, if you're not LGBTQIA+ and you just want attention,
        please don't lie to sign up for this. There are other puzzle authoring showcases/events throughout the year
        where we'll be happy to have you and show off what you can do.
      </p>

      <h3 class="my-4">Can I submit more than one puzzle?</h4>
      <p class="my-4">
        Yes! Please make a new grid entry for each additional puzzle to help with logistics. If things get unwieldy, the
        organizers reserve the right to limit number of entries or ask you to save extras for next time.
      </p>

      <h3 class="my-4">As an ally, can I co-author with a puzzler that is LGBTQ+?</h4>
      <p class="my-4">
        This is generally okay as long as it's primarily an amicable collaboration and focused on them and not a
        backdoor into the showcase.
      </p>

      <h3 class="my-4">How does copyright with this work?</h4>
      <p class="my-4">
        All authors retain copyright of their contributions. By submitting a puzzle, you grant the organizers and
        participants the non-exclusive right to reproduce your puzzle in the PDF packet and relevant links or formats,
        and to distribute the packet freely on blogs, social media, forums, etc.
      </p>

      <!-- <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Tailwind CSS">
          Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="a11y Components">
          17 components and counting, all tried and tested for the most optimal accessible experience for your visitors.
        </Feature>
        <Feature icon="mdi:looks" title="Prettier">
          Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
        </Feature>
        <Feature icon="mdi:eslint" title="ESLint">
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Blog">
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Markdown & MDX">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Dark mode">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:cog" title="Design System">
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
          Excellent lighthouse scores means your website will load faster and get better SEO rankings.
        </Feature>
      </div> -->
    </div>
  </section>
</DefaultLayout>
