---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        All content &copy; {currentYear} its respective author. Organized by <a href="">Jamie Hargrove</a> and <a href="https://thegriddle.net">David Millar</a>.
      </p>
    </div>
  </section>
</footer>
