---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        All puzzles &copy; {currentYear} the puzzle's author. Project materials &copy; {currentYear} David Millar. Organized by <a href="https://deceptivepuzzles.wordpress.com">Jamie Hargrove</a> and <a href="https://thegriddle.net">David Millar</a>.
      </p>
    </div>
  </section>
</footer>
